:root {
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #212121;
}
.a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
img {
  display: block;
}
/* =====components===== */
.site-nav-link:hover,
.site-nav-link:focus,
.contacts-mail:hover,
.contacts-tel:hover,
.contacts-footer-mail:hover,
.contacts-footer-mail:focus,
.contacts-footer-tel:hover,
.contacts-footer-tel:focus,
.contacts-footer-link:hover,
.contacts-footer-link:focus {
  color: var(--accent-color);
  }
.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* =====end-components===== */
/* =====header===== */

.logo-color {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-header {
  color: #212121;
}
.contacts-mail,
.contacts-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
/* =====end-header===== */

/* =====footer===== */
.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--secondary-color);
  width: 145px;
}
.site-nav-link {
  color: #212121;
}
.contacts-footer-list {
  padding-top: 20px;
  padding-bottom: 60px;
  width: 231px;
  height: 81px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-style: normal;
}
.contacts-footer-link {
  color: var(--secondary-color);
  text-decoration: none;
}
.contacts-footer-mail,
.contacts-footer-tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/* =====end-footer===== */
