:root {
  --secondary-color: #ffffff;
  --bg-color: #2196f3;
  --text-color: #757575;
}
/* =====maim page===== */
/* =====header====== */
.header .logo-color {
  margin-right: 93px;
}
.header .contacts {
  display: flex;
  margin-left: auto;
}
.navigation {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* =====end-header====== */
/* =====hero===== */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  width: 696px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.hero-button {
  display: block;
  margin-top: 30px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: var(--secondary-color);
  cursor: pointer;
  padding: 10px 32px;
}
/* =====end-hero===== */
/* =====section-features===== */
.features-items {
  display: flex;
}
.features-items-link {
  width: 270px;
  height: 101px;
}
.features-items-link:not(:last-child) {
  margin-right: 30px;
}
.features-link-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-link-text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.features {
  padding-bottom: 94px;
  padding-top: 94px;
  min-height: 101px;
}
/* =====end-section-features===== */
/* =====section-work===== */
.work {
  display: flex;
  padding-bottom: 94px;
}
.work-items {
  display: flex;
}
.work-link:not(:last-child) {
  margin-right: 30px;
}
.work-title,
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
}
/* =====end-section-work */
/* =====section-team===== */
.team {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}
.team-name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-items {
  display: flex;
}
.team-link:not(:last-child) {
  margin-right: 30px;
}
.team-position {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* =====end-section-team===== */
/* =====end main page===== */
/* =====portfolio page===== */
/* =====portfolio===== */
.portfolio {
  display: flex;
  align-items: center;
  margin-top: 94px;
  margin-bottom: 94px;
}
.gallery-name {
  display: none;
}
.nav-gallery {
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
}
.nav-gallery-items {
  display: flex;
  padding-bottom: 16px;
}
.nav-gallery-link {
  display: flex;
}
.nav-gallery-link:not(:last-child) {
  margin-right: 8px;
}
.btn-gallery {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  min-height: 38px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
}
.btn-gallery:hover,
.btn-gallery:focus {
  background-color: #2196f3;
  color: var(--secondary-color);
}
/* =====end-portfolio===== */
/* =====filtrs===== */
.filter {
  display: flex;
  flex-wrap: wrap;
}
.filter-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.filter-item:nth-child(3n) {
  margin-right: 0;
}
.filter-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.filter-title {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-btn-text {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* =====end-filtrs===== */
/* =====end portfolio page===== */
